@charset "utf-8";

html {
    width: 100%;
}

.nav-bar {

}



.nav-bar {
    /*border-bottom: solid;*/
    /*overflow: auto;*/
    border-width: 1px;
    margin-bottom: 2%;
    position: relative;
    overflow: hidden;
    /*padding: 80px 0;*/
}

.nav-bar:before {
    content: '';
    position: absolute;
    top: -25px;
    left: 0;
    width: 120%;
    height: 95%;
    margin: 3% -10% 0;
    background: #0489B1;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-2deg);
    z-index: -1;
}

.nav-bar--inner {
    box-sizing: boder-box;
    width: 100%;
    /*max-width: 640px;*/
    height: 100%;
    /*margin: 0 auto;*/
    /*padding: 30px 0;*/
    color: #fff;
    text-align: center;
}

.logo {
    float: left;
}

.logo img {
    height: 50px;
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar ul {
    list-style: none;
}

.nav-items-left li {
    float: left;
    margin-right: 2%;
}

.nav-items-right li {
    float: right;
    margin-right: 2%
}