@charset "utf-8";

.container {
    height: 300px;
    margin-bottom: 50px;
}

.slick-slider {
    padding: 0;
}

.slick-slide img {
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.slick-dots {
    top: 300px;
}